// #5541ae rgb(85, 65, 174) //진보라
// #7c5fc4 rgb(124, 95, 196) //연보라
// #df72bb rgb(223, 114, 187) //분홍

.content-box {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.topBar {
  position: absolute;
  height: 56px;
  width: 100%;
  padding: 12px 16px;
  background-color: #6b4b94;
  box-sizing: border-box;
  color: white;
}

.board-place {
  width: 100vw;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom right, #7c5fc4, #df72bb);
}

#board-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}

#board-star {
  width: 32px;
  height: 32px;
  padding: 6px;

  background-color: transparent;
  border: none;


  svg {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}

// .flex-box-r {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }